[submodule "polycoder/megatron/tokenizer/tokompiler"]
	path = polycoder/megatron/tokenizer/tokompiler
	url = https://github.com/Scientific-Computing-Lab-NRCN/Tokompiler.git
[submodule "polycoder_huggingface"]
	path = polycoder_huggingface
	url = https://github.com/nevakrien/polycoder_huggingface
